@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.hashtag{
  font-size:100%;
  font-style: italic;
}

.loading_box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loading{
  font-size: 100%;
}

.gallery_total{
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
}

.gallery_category{
    width: 20%;
    height: 100%;
}

.gallery_category > h5{
    margin:0 0 4% 0;
    font-size: 250%;
}

.gallery_no{
    text-align: center;
    display: inline-block;
}

.gallery_video{
    display: inline-block;
    border: 8px solid whitesmoke;
    border-style: double;
}

.gallery_no > h6{
    margin: 0%;
    font-size: 120%;
}

.button_box{
  position: relative;
}

@media all and (max-width:1200px){
}
@media all and (max-width:960px){
}
@media all and (max-width:768px){
  .gallery_no > h6{
    margin: 0;
    font-size: 60%;
  }
}

@media all and (min-width:1400px){
  .gallery_video{
    width: 55%;
    height: 55%;
  }
}