@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.loading_box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.loading{
  font-size: 100%;
}
.gallery_total{
  display: inline;
  width: auto;
  height: auto;
}
.gallery_category{
    display: inline-grid;
    width: 20%;
    height: 100%;
}
.gallery_category > h5{
    margin:0 0 4% 0;
}
.gallery_no{
    text-align: center;
    display: inline-block;
}
.gallery_video{
    display: inline-block;
}
.gallery_no > h6{
    margin: 0;
    font-size: 90%;
}
.RetryButton {
    background-color: #c4c4c4;
    text-align: center;
    color: black;
    border-radius: 15px;
    font-size: 170%;
    margin: 3%;
    padding: 3% 6% 3% 6%;
    font-family: 'Jua', sans-serif;
}
@media all and (max-width:1200px){
}
@media all and (max-width:960px){
}
@media all and (max-width:768px){
  .gallery_no > h6{
    margin: 0;
    font-size: 60%;
  }
  .RetryButton {
    font-size: 100%;
  }
}
@media all and (max-width:360px){
  .Page-header h1 {
    font-size: 120%;
  }
  .RetryButton {
    font-size: 80%;
  }
}