@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Page {
  background-color: #f2ddcc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: cal(10px + 2vmin);
  color: black;
  text-align: center;
}

.Star-logo {
  height: 5vmin;
  pointer-events: none;
  vertical-align: middle;
}

.Page-header {
  width: 80%;
  border-radius: 10px;
  border: solid 1.5px #f6f7fa;
  margin: 20px;
  padding-bottom: 20px;
  background-color: white;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}
.gallery_box{
    display: inline-block;
    width: 20%;
    height: auto;
}
.gallery_box > h5{
    margin:0 0 4% 0;
}
.gallery_no{
    text-align: center;
}
.gallery_video{
    display: inline-block;
}
.gallery_no > h6{
    margin: 0;
}
.RetryButton {
    background-color: #c4c4c4;
    text-align: center;
    color: black;
    border-radius: 15px;
    font-size: 150%;
    margin: 3%;
    padding: 3% 6% 3% 6%;
    font-family: 'Jua', sans-serif;
}
@media all and (max-width:1200px){
}
@media all and (max-width:960px){
  .Page-header > h4{
    font-size: 20px;
  }
}
@media all and (max-width:768px){
  .Page-header > h1{
    font-size: 35px;
  }
  .RetryButton {
    font-size: 25px;
  }
}
@media all and (max-width:320px){
  .Page-header > h4{
    font-size: 15px;
  }
}