body {
    margin: 0;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .masthead {
    padding-top: 15rem;
    padding-bottom: 28rem;
    text-align: center;
    color: #fff;
    background-image: url("../img/home_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }
  .masthead .masthead-subheading {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  .masthead .masthead-heading {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  .StartButton{
    font-size: 3.25rem;
    font-weight: 700;
  }
  @media (min-width: 768px) {
    .masthead {
      padding-top: 17rem;
      padding-bottom: 20rem;
    }
    .masthead .masthead-subheading {
      font-size: 2.25rem;
      font-style: italic;
      line-height: 2.25rem;
      margin-bottom: 2rem;
    }
    .masthead .masthead-heading {
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 4.5rem;
      margin-bottom: 4rem;
    }
  }
  .btn-group-lg>.btn, .btn-lg {
    margin: 4% 2% 0 0 ;
      padding: 2% 3% 2% 3%;
      font-size: 3.5rem;
      line-height: 1.3333333;
      border-radius: 6px;
  }
  .btn-group-sm>.btn, .btn-xs {
    margin: 4% 0 0 2% ;
      padding: 1% 2% 1% 2%;
      font-size: 1.5rem;
      line-height: 1.5;
      border-radius: 3px;
  }